@page "/usercreate"
@using BlazorApp_DB_Entity.Modell
@inject BlazorApp_DB_Entity.Data.MySql_DB_Context DB
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Create</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <EditForm method="post" FormName="create" OnValidSubmit="AddUsers" Model="UserDB" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Név</label>
                <InputText id="name" class="form-control" @bind-Value="UserDB.Name"/>
                <ValidationMessage For="()=>UserDB.Name" class="text-danger" />
            </div>
             <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <InputText id="email" class="form-control" @bind-Value="UserDB.Email"/>
                <ValidationMessage For="()=>UserDB.Email" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Jelszó</label>
                <InputText id="password" class="form-control" @bind-Value="UserDB.Password" />
                <ValidationMessage For="()=>UserDB.Password" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-success">Küldés</button>
            <a href="/userhome" class="btn btn-primary">Back to User List</a>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public User UserDB { get; set; } = new();

    public async Task AddUsers()
    {
        DB.User.Add(UserDB);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/userhome");
    }
}
